---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: "{{ meta.name }}"
  name: "{{ meta.name }}-service"
  namespace: "{{ meta.namespace }}"
spec:
  selector:
    app: "{{ meta.name }}"
  ports:
    - protocol: TCP
      port: "{{port}}"
      targetPort: "{{targetport}}"
